@use 'skin' as *;
@use 'variables' as *;
@use 'mixins-media' as *;
@use 'common';

.company {
  &-details {
    display: flex;
    position: relative;
    padding: 40px 30px;
    font-size: 0.9rem;
    line-height: 1.25rem;
    background-color: #313131;
    color: #9b9b9b;
    z-index: 5;

    @include md {
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin-top: 60px;
    }
  }

  &-details-wrapper {
    width: 65%;

    @include md {
      align-items: center;
      width: 100%;
    }
  }

  &-security {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 35%;
    padding-right: 90px;

    @include md {
      margin-top: 10px;
    }

    @include sm {
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      gap: 10px;
      width: 100%; /* Растягиваем блок на всю ширину */
      padding-right: 0; /* Убираем отступ */
    }
  }

  &-security-text {
    @include sm {
      align-items: flex-start;
      text-align: left;
      white-space: nowrap; /* Запрещаем перенос слов */
      padding-right: 0;
    }
  }

  &-copyright {
    margin-top: 10px;
  }

  &-icon-label {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
