@use 'skin' as *;
@use 'variables' as *;
@use 'mixins-media' as *;
/* Стили для header */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    width: 100%;
  }

  &-logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    filter: invert(1);
    margin-left: 0px;
    transition: color 0.3s ease;
  }

  &-nav .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-nav .nav-list li {
    margin-right: 35px;
  }

  &-nav .nav-list li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
  }

  &-icons {
    display: flex !important;
    flex-direction: row; /* Выстраиваем иконки в одну линию */
    align-items: center; /* Выравниваем их по центру */
    gap: 15px; /* Добавляем расстояние между иконками */
  }
}

.header:hover {
  background-color: rgba(255, 255, 255, 1); /* Белый фон при наведении */
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-item {
  color: white !important; /* Делаем белым и перебиваем другие стили */
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.header:hover .menu-item {
  color: black !important;
}

.header-logo img {
  filter: invert(1);
}
.header-icons i {
  color: #fff;
  transition: filter 0.3s ease;
}

/* При наведении на header делаем логотип и иконки черными */
.header:hover .header-logo img {
  filter: invert(0);
  transition: color 0.3s ease;
}
.header:hover .header-icons i {
  color: black;
  transition: color 0.3s ease;
}

/* Контейнер поиска */
.header-search {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Выравниваем лупу и текст справа */
  position: relative;
  width: 180px; /* Фиксированная ширина */
}

/* Полоска (всегда видна) */
.search-line {
  width: 200px;
  height: 1px;
  background: white;
  position: absolute;
  bottom: -20px;
}

/* Лупа справа */
.search-btn {
  position: absolute;
  left: 150px;
  top: -10px; /* Над полоской */
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* Вводимый текст (находится над полоской) */
.search-input {
  width: 200px;
  text-align: left;
  font-size: 14px;
  background: transparent;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  position: absolute;
  bottom: -10px; /* Размещение над полоской */
}

.search-input::placeholder {
  color: white;
  opacity: 1; /* Делаем его полностью видимым */
  transition: color 0.3s ease;
}

/* При наведении на header — чёрный */
.header:hover .search-input::placeholder {
  color: black;
  transition: color 0.3s ease;
}

/* При наведении на меню — всё черное */
.header:hover .search-line {
  background: black;
  transition: color 0.3s ease;
}

.header:hover .search-btn {
  color: black;
  transition: color 0.3s ease;
}

.header:hover .search-input {
  color: black;
  transition: color 0.3s ease;
}
