@use 'skin' as *;
@use 'variables' as *;
@use 'mixins-media' as *;

.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;

  @include md {
    top: 60px;
  }

  .slides {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;

      &.active {
        opacity: 1;
      }

      .slide-content {
        display: flex;
        width: 100%;
        height: 100%;

        @include md {
          flex-direction: column; // Текст сверху, картинка снизу
          align-items: center;
          height: auto;
        }
      }
    }
  }

  @mixin text-block-styles($color) {
    width: 50%;
    background: $color;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    @include md {
      width: 100%;
      height: 40vh; // На мобилке равномерно делим
    }
  }

  .text-block-1 {
    @include text-block-styles(#7a6d4d);
  }

  .text-block-2 {
    @include text-block-styles(#948982);
  }

  .text-block-3 {
    @include text-block-styles(#526071);
  }

  .text-block-4 {
    @include text-block-styles(#ced77b);
  }

  .text-block-5 {
    @include text-block-styles(#dbadc2);
  }

  .image-block {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: cover; // Картинка не будет растягиваться
      width: 100%;
      height: 100%;
    }

    @include md {
      object-fit: contain; // Картинка не будет растягиваться
      width: 100%;
      height: 50vh; // Делаем равномерно с текстом
    }
  }

  .text-block,
  .image-block {
    width: 50%;
    top: 0;
    padding: 0;
    margin: 0;
  }
}

/*custom*/
.indicators {
  position: absolute;
  display: flex;
  gap: 8px; // Уменьшаем расстояние между индикаторами
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);

  .indicator {
    width: 40px; // Длина полоски
    height: 6px; // Делаем индикатор тонким
    background-color: rgba(225, 222, 222, 0.6);
    border-radius: 2px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: white;
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    }

    &.active {
      background-color: rgb(251, 248, 248);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.811);
    }
  }
}

.controls {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0; // Скрываем кнопки
  transition: opacity 0.3s ease-in-out;

  @include md {
    display: none;
  }

  .control {
    background-color: rgba(229, 204, 153, 0.492);
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 28px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease,
      box-shadow 0.3s ease;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
      color: black;
      transform: scale(1.2);
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    }

    &-prev {
      position: absolute;
      left: 20px;
    }

    &-next {
      position: absolute;
      right: 20px;
    }

    &-pause {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &:hover {
        background-color: rgba(255, 255, 255, 0.9);
        color: black;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
  }
}

// Показываем кнопки при наведении на карусель
.carousel:hover .controls {
  opacity: 1;
}
