@charset "UTF-8";
.header {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;

  width: 100%;

  -webkit-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
}

.header:hover {
  background-color: rgb(255, 255, 255);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding: 20px 30px;
}

.header-logo a {
  text-decoration: none;

  color: #333333;

  font-size: 24px;
  font-weight: bold;
}

.header-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.header-nav .nav-list li {
  margin-right: 20px;
}

.header-nav .nav-list li a {
  padding: 5px 10px;

  text-decoration: none;

  color: #333333;
}

.header-search .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-search input {
  padding: 5px;

  border: 1px solid #cccccc;
  border-radius: 3px 0 0 3px;
}

.header-search button {
  padding: 5px 10px;

  cursor: pointer;

  color: #ffffff;
  border: 1px solid #cccccc;
  border-left: none;
  border-radius: 0 3px 3px 0;
  background-color: #333333;
}

.header-icons a {
  margin-left: 15px;

  text-decoration: none;

  color: #333333;

  font-size: 18px;
}


.slides {
  position: relative;

  height: 150px;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;

  list-style-type: none;
}

.slide {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  -webkit-transition: opacity 1s;
          transition: opacity 1s;

  opacity: 0;
}

.active {
  z-index: 2;

  opacity: 1;
}
.slide {
  width: 100%;
  height: 500px;

  background-color: #f0f0f0;
}

.slide:nth-of-type(2) {
  background: orange;
}

.slide:nth-of-type(3) {
  background: green;
}

.slide:nth-of-type(4) {
  background: blue;
}

.slide:nth-of-type(5) {
  background: purple;
}
.indicators,
.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 1em;

  gap: 1em;
}

.indicator,
.control {
  display: block;

  min-width: 100px;
  padding: 1em 2em;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;

  background-color: rgb(225, 222, 222);
}

.control:hover {
  background-color: #bfbaba;
}

.indicator.active {
  background-color: tomato;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: block;

  unicode-bidi: isolate;
}
