@charset "UTF-8";
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 100%;
  height: 100px;
  padding: 0 20px;
}
.menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  padding: 5px 10px;

  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
  text-decoration: none;

  color: white !important;

  font-size: 18px;
  font-weight: bold;
}

.header:hover .menu-item {
  color: black !important;
}
.header:hover .header-logo img {
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;

  -webkit-filter: invert(0);
          filter: invert(0);
}
.header:hover .header-icons i {
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;

  color: black;
}
.header:hover .search-line {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;

  background: black;
}
.header:hover .search-btn {
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;

  color: black;
}
.header:hover .search-input {
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;

  color: black;
}
.header:hover .search-input::-webkit-input-placeholder {
  -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease;

  color: black;
}
.header:hover .search-input::-moz-placeholder {
  -moz-transition: color 0.2s ease;
       transition: color 0.2s ease;

  color: black;
}
.header:hover .search-input:-ms-input-placeholder {
  -ms-transition: color 0.2s ease;
      transition: color 0.2s ease;

  color: black;
}
.header:hover .search-input::-ms-input-placeholder {
  -ms-transition: color 0.2s ease;
      transition: color 0.2s ease;

  color: black;
}
.header:hover .search-input::placeholder {
  -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease;

  color: black;
}
.header .header-logo img {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.header .header-icons i {
  -webkit-transition: -webkit-filter 0.3s ease;
          transition: -webkit-filter 0.3s ease;
          transition:         filter 0.3s ease;
          transition:         filter 0.3s ease, -webkit-filter 0.3s ease;

  color: #ffffff;
}

.header-nav .nav-list li a:hover,
.header-icons i:hover,
.search-btn:hover {
  text-shadow: 0 0 10px rgba(57, 38, 6, 0.838);
}
.header-search {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  width: 180px;
}
.header-search .search-line {
  position: absolute;
  right: 12px;
  bottom: -20px;

  width: 200px;
  height: 1px;

  background: white;
}
.header-search .search-btn {
  position: absolute;
  top: -10px;
  left: 150px;

  cursor: pointer;

  color: white;

  font-size: 18px;
}
.header-search .search-input {
  position: absolute;
  bottom: -10px;

  width: 200px;

  text-align: left;

  color: white;
  border: none;
  outline: none;
  background: transparent;

  font-size: 14px;
  font-weight: bold;
}
.header-search .search-input::-webkit-input-placeholder {
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;

  opacity: 1;
  color: white;
}
.header-search .search-input::-moz-placeholder {
  -moz-transition: color 0.3s ease;
       transition: color 0.3s ease;

  opacity: 1;
  color: white;
}
.header-search .search-input:-ms-input-placeholder {
  -ms-transition: color 0.3s ease;
      transition: color 0.3s ease;

  opacity: 1;
  color: white;
}
.header-search .search-input::-ms-input-placeholder {
  -ms-transition: color 0.3s ease;
      transition: color 0.3s ease;

  opacity: 1;
  color: white;
}
.header-search .search-input::placeholder {
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;

  opacity: 1;
  color: white;
}

.menu__mobile {
  position: relative;

  display: none;
}
.menu__mobile_button {
  position: relative;

  width: 40px;
  height: 26px;

  cursor: pointer;

  background-color: transparent;
}
.menu__mobile_button.active span {
  opacity: 0;
}
.menu__mobile_button.active.menu__mobile_button:before,
.menu__mobile_button.active.menu__mobile_button:after {
  top: 50%;
}
.menu__mobile_button.active.menu__mobile_button:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu__mobile_button.active.menu__mobile_button:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu__mobile_button span,
.menu__mobile_button:before,
.menu__mobile_button:after {
  position: absolute;

  display: block;

  width: 100%;
  height: 4px;

  opacity: 1;
  border-radius: 6px;
  background-color: #1e1720;
}
.menu__mobile_button:before,
.menu__mobile_button:after {
  content: "";
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
          transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
          transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
          transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__mobile_button span {
  top: 50%;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.menu__mobile_button:before {
  top: 0;
}
.menu__mobile_button:after {
  top: calc(100% - 5px);
}

.nav-list.open {
  display: block;
}
.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  width: 100%;

  -webkit-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 100%;
  padding: 0 20px;
}
.header-logo {
  margin-left: 0;

  -webkit-transition: opacity 0.3s ease, -webkit-filter 0.3s ease;
          transition: opacity 0.3s ease, -webkit-filter 0.3s ease;
          transition: filter 0.3s ease, opacity 0.3s ease;
          transition: filter 0.3s ease, opacity 0.3s ease, -webkit-filter 0.3s ease;
  text-decoration: none;

  font-size: 24px;
  font-weight: bold;

  -webkit-filter: invert(1);
          filter: invert(1);
}
.header-logo--size {
  height: 40px;
}
.header-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}
.header-nav .nav-list li {
  margin-right: 35px;
}
.header-nav .nav-list li a {
  padding: 5px 10px;

  text-decoration: none;

  color: #333333;
}
.header-nav .nav-list li a-icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  padding: 10px;
}
.header .menu-toggle {
  display: none;

  cursor: pointer;

  border: none;
  background: none;

  font-size: 24px;
}

.header:hover {
  background-color: rgb(255, 255, 255);
}

.title-outline {
  letter-spacing: 2px;
  text-transform: uppercase;

  color: transparent;

  font-size: 50px;
  font-weight: bold;

  -webkit-text-stroke: 2px white;
}

.subtitle-large {
  font-size: 30px;
  font-weight: 500;
}

.icon {
  padding: 5px;
}

.carousel {
  position: relative;
  top: 0;

  overflow: hidden;

  width: 100%;
  height: 100vh;
}
.carousel .slides {
  position: relative;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.carousel .slides .slide {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  -webkit-transition: opacity 0.4s ease-in-out;
          transition: opacity 0.4s ease-in-out;

  opacity: 0;
}
.carousel .slides .slide.active {
  opacity: 1;
}
.carousel .slides .slide .slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  height: 100%;
}
.carousel .text-block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 50%;
  padding: 30px;

  color: white;
  background: #7a6d4d;
}
.carousel .text-block-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 50%;
  padding: 30px;

  color: white;
  background: #948982;
}
.carousel .text-block-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 50%;
  padding: 30px;

  color: white;
  background: #526071;
}
.carousel .text-block-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 50%;
  padding: 30px;

  color: white;
  background: #ced77b;
}
.carousel .text-block-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 50%;
  padding: 30px;

  color: white;
  background: #dbadc2;
}
.carousel .image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 50%;
}
.carousel .image-block img {
  width: 100%;
  height: 100%;

  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .text-block,
.carousel .image-block {
  top: 0;

  width: 50%;
  margin: 0;
  padding: 0;
}
.indicators {
  position: absolute;
  bottom: 40px;
  left: 50%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  gap: 8px;
}
.indicators .indicator {
  width: 40px;
  height: 6px;

  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
          transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
          transition: background-color 0.3s ease, box-shadow 0.3s ease;
          transition: background-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;

  border-radius: 2px;
  background-color: rgba(225, 222, 222, 0.6);
}
.indicators .indicator:hover {
  background-color: white;
  -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
          box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.indicators .indicator.active {
  background-color: rgb(251, 248, 248);
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.811);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.811);
}

.controls {
  position: absolute;
  top: 50%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 100%;

  -webkit-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  opacity: 0;
}
.controls .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  padding: 15px 20px;

  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.2s ease, -webkit-box-shadow 0.3s ease;
          transition: background-color 0.3s ease, -webkit-transform 0.2s ease, -webkit-box-shadow 0.3s ease;
          transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
          transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease, -webkit-transform 0.2s ease, -webkit-box-shadow 0.3s ease;

  color: white;
  border: none;
  border-radius: 50%;
  background-color: rgba(229, 204, 153, 0.492);

  font-size: 28px;
}
.controls .control:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);

  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}
.controls .control-prev {
  position: absolute;
  left: 20px;
}
.controls .control-next {
  position: absolute;
  right: 20px;
}
.controls .control-pause {
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.controls .control-pause:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
      -ms-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);

  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.carousel:hover .controls {
  opacity: 1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.company-details {
  position: relative;
  z-index: 5;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 40px 30px;

  color: #9b9b9b;
  background-color: #313131;

  font-size: 0.9rem;
  line-height: 1.25rem;
}
.company-details-wrapper {
  width: 65%;
}
.company-security {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -ms-flex-align: end;
  -ms-flex-flow: column;
      flex-flow: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  width: 35%;
  padding-right: 90px;
}
.company-copyright {
  margin-top: 10px;
}
.company-icon-label {
  margin-top: 30px;
  margin-bottom: 20px;

  font-size: 50px;
}
@media (max-width: 767.8px) {
  .menu {
    height: 60px;
    padding: 0 5px;
  }
  .header-search {
    position: absolute;
    left: 70px;

    width: auto;
  }
  .header-search .search-line {
    display: none;
  }
  .header-search .search-btn {
    position: static;

    margin-left: 15px;
  }
  .header-search .search-input {
    display: none;
  }
  .menu__mobile {
    position: absolute;
    top: 50%;
    left: 20px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header {
    background-color: rgb(255, 255, 255);
  }
  .header .menu-item,
  .header .header-icons i,
  .header .search-btn {
    color: black !important;
  }
  .header .header-logo img {
    max-width: 160px;

    -webkit-filter: invert(0) !important;
            filter: invert(0) !important;
  }
  .header-container {
    position: relative;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header-logo {
    position: absolute;
    left: 50%;

    max-width: 150px;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header-logo--size {
    width: 200px;
    height: 35px;
  }
  .header-nav .nav-list {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;

    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    width: 40%;
    padding: 10px;

    background-color: white;
  }
  .header-nav .nav-list.open {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header-nav .nav-list li a-icons a {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .title-outline {
    margin-bottom: 20px;

    text-align: center;
  }
  .subtitle-large {
    margin-top: 10px;

    text-align: center;
  }
  .carousel {
    top: 60px;
  }
  .carousel .slides .slide .slide-content {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    height: auto;
  }
  .carousel .text-block-1 {
    width: 100%;
    height: 50vh;
  }
  .carousel .text-block-2 {
    width: 100%;
    height: 50vh;
  }
  .carousel .text-block-3 {
    width: 100%;
    height: 50vh;
  }
  .carousel .text-block-4 {
    width: 100%;
    height: 50vh;
  }
  .carousel .text-block-5 {
    width: 100%;
    height: 50vh;
  }
  .carousel .image-block {
    width: 100%;
    height: 50vh;

    -o-object-fit: contain;
       object-fit: contain;
  }
  .indicators {
    bottom: 20px;
  }
  .controls {
    display: none;
  }
  .company-details {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    margin-top: 60px;
    padding: 20px;
  }
  .company-details-wrapper {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;

    width: 100%;
  }
  .company-security {
    margin-top: 10px;
  }
}
@media (max-width: 575.8px) {
  .header-search .search-btn {
    position: static;

    margin-left: 5px;

    font-size: 16px;
  }
  .menu__mobile {
    position: absolute;
    top: 50%;
    left: 20px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .menu__mobile_button {
    width: 30px;
    height: 20px;
  }
  .header-logo {
    position: absolute;
    left: 48%;

    max-width: 150px;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header-logo--size {
    height: 30px;
  }
  .icon {
    padding: 1px;
  }
  .indicators {
    bottom: 30px;
  }
  .company-security {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    width: 100%;
    padding-right: 0;

    gap: 10px;
  }
  .company-security-text {
    -webkit-box-align: start;
    align-items: flex-start;
    -ms-flex-align: start;

    padding-right: 0;

    text-align: left;
    white-space: nowrap;
  }
}
