@use 'skin' as *;
@use 'variables' as *;
@use 'mixins-media' as *;
@use 'header-menu';
/* Стили для header */
.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    width: 100%;
  }

  &-logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    filter: invert(1);
    margin-left: 0px;
    transition: color 0.3s ease;
  }

  &-nav .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-nav .nav-list li {
    margin-right: 35px;
  }

  &-nav .nav-list li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
  }

  &-icons {
    display: flex !important;
    flex-direction: row; /* Выстраиваем иконки в одну линию */
    align-items: center; /* Выравниваем их по центру */
    gap: 15px; /* Добавляем расстояние между иконками */
  }

  .menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.header:hover {
  background-color: rgba(255, 255, 255, 1); /* Белый фон при наведении */
}
