@use 'skin' as *;
@use 'variables' as *;
@use 'mixins-media' as *;
@use 'header-menu';
/* Стили для header */
.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;

  @include md {
    .menu-item,
    .header-icons i,
    .search-btn {
      color: black !important; // Черный цвет по умолчанию
    }

    .header-logo img {
      filter: invert(0) !important; // Делаем логотип черным только на md
      max-width: 160px;
    }

    background-color: rgba(255, 255, 255, 1); // Фон остается белым на md
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    width: 100%;

    @include md {
      justify-content: center; // Центрируем логотип
      position: relative;
    }
  }

  &-logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    filter: invert(1);
    margin-left: 0px;
    transition: filter 0.3s ease, opacity 0.3s ease;

    @include md {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); // Центрируем логотип ровно по середине
      max-width: 150px; // Уменьшаем логотип
    }

    @include sm {
      position: absolute;
      left: 48%;
      transform: translateX(-50%); // Центрируем логотип ровно по середине
      max-width: 150px; // Уменьшаем логотип
    }

    &--size {
      height: 40px;

      @include md {
        height: 35px;
        width: 200px;
      }

      @include sm {
        height: 30px;
      }
    }
  }

  &-nav .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    @include md {
      display: none; // По умолчанию скрываем
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 40%;
      background-color: white;
      padding: 10px;
      z-index: 10;

      &.open {
        display: flex !important; // Показываем, если есть класс open
      }
    }
  }

  &-nav .nav-list li {
    margin-right: 35px;
  }

  &-nav .nav-list li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;

    &-icons a {
      display: flex;
      align-items: center; /* Выравниваем их по центру */
      justify-content: flex-end; // Выравнивание справа
      padding: 10px;

      @include md {
        order: 2;
      }
    }
  }

  .menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.header:hover {
  background-color: rgba(255, 255, 255, 1); /* Белый фон при наведении */
}

.title-outline {
  font-size: 50px; // Размер заголовка
  font-weight: bold;
  text-transform: uppercase; // Все буквы заглавные
  color: transparent; // Прозрачный текст
  -webkit-text-stroke: 2px white; // Белая обводка
  letter-spacing: 2px; // Добавим расстояние между буквами

  @include md {
    text-align: center;
    margin-bottom: 20px; // Уменьшаем отступ снизу на маленьких экранах
  }
}

.subtitle-large {
  font-size: 30px; // Увеличенный размер шрифта
  font-weight: 500;

  @include md {
    text-align: center;
    margin-top: 10px; // Уменьшаем отступ сверху на маленьких экранах
  }
}

.icon {
  padding: 5px;

  @include sm {
    padding: 1px;
  }
}
